@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(16,22,34);
    /* --background: #f3f8fe; */

    --foreground: #ededed;
  }
}
/* global.css or styles.css */
.background {
  background-image: url('/up\ \(1\).svg');
  background-size: cover;      /* Ensures the background covers the element */
  background-position: center; /* Centers the background */
       width: max-content;
       height: max-content;          /* Full screen width */
}

.nav-btn {
  padding: 12px 16px;
  border-radius: 8px;
  text-align: left;
  font-weight: 500;
  /* transition: background 0.2s ease; */
}

.nav-btn:hover {
  background: #000;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}
